section > header {
	margin-bottom: 0.75em;
	border-bottom: 0.075em solid #333;
}

section > header > h2 {
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
}

section > ul {
	list-style: none;
}

section > ul > li {
	display: flex;
}

section > ul > li > span + span {
	margin-left: auto;
}

section > ol > li {
	display: flex;
	flex-direction: column;
}

section > ol > li + li {
	margin-top: 0.75em;
}

section > ol > li > a {
	color: inherit;
	text-decoration: none;
}

section > ol > li > a:hover {
	text-decoration: underline;
}

section > ol > li > a > .publication {
	margin-left: 0.4em;
	color: #666;
	font-size: 0.75rem;
}

section > ol > li > time {
	font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
	section > ol > li {
		flex-direction: row;
	}

	section > ol > li + li {
		margin-top: 0.25em;
	}

	section > ol > li > time {
		margin-left: auto;
		font-size: 1rem;
	}
}

@media screen and (min-width: 1200px) {
}
